include animated_chakra.pug 

mixin chakraCircle(chakra)
  div.circle-wrapper(class=chakra + "-item")
    p.circle.soul-star
    p.circle.absolute(class=chakra)
    block

mixin chakraNav(start)
  div.chakra-container.m-auto
    a(href="/").center-image
      img(width="96" src="/assets/logo.png")
    a(class=start + "-start" href="/crown")
      +chakraCircle("crown")

    a(class=start + "-start", href="/third-eye")
      +chakraCircle("third-eye")

    a(class=start + "-start", href="/throat")
      +chakraCircle("throat")

    a(class=start + "-start", href="/heart")
      +chakraCircle("heart")

    a(class=start + "-start", href="/solar")
      +chakraCircle("solar")
        p.absolute I

    a(class=start + "-start", href="/sacral")
      +chakraCircle("sacral")
      
    a(class=start + "-start", href="/root")
      +chakraCircle("root")
