include animated_chakra.pug 

mixin chakraCircle(chakra, size)
  div.circle-wrapper(class=chakra + "-item " + size)
    p.circle.absolute.soul-star(class=size)
    p.circle.absolute.ajna(class=size)
    p.circle.absolute(class=chakra + " " + size)
    block

mixin chakraNav(start, size)
  div.chakra-container.m-auto.card(class=size +" border-card-" + start)
    a(href="/").center-image
      img(width="128" src="/assets/logo.png")
    a(class=start + "-start " href="/crown")
      +chakraCircle("crown", size)

    a(class=start + "-start", href="/third-eye")
      +chakraCircle("third-eye", size)

    a(class=start + "-start", href="/throat")
      +chakraCircle("throat", size)
        p.absolute II

    a(class=start + "-start", href="/heart")
      +chakraCircle("heart", size)

    a(class=start + "-start", href="/solar")
      +chakraCircle("solar", size)
        p.absolute I

    a(class=start + "-start", href="/sacral")
      +chakraCircle("sacral", size)
      
    a(class=start + "-start", href="/root")
      +chakraCircle("root", size)
