mixin card(card_title, card_description, tagline, card_img, quick, chakra, info, web_app, github, f_droid, flathub)
  if (!quick)
    div.card
      img(src=card_img, alt=card_title)
      h2 #{card_title}
      div(class="text-color") #{card_description}
      br
      div.row
        if(web_app)
          a(href=web_app) Web App
        if(web_app)
          a(href=github) GitHub
        if(f_droid)
          a(href=f_droid) F-Droid
        if(flathub)
          a(href=flathub) Flathub
  else
    a(href=info)
      img(src=card_img, alt=card_title, width="192")
      h3 #{card_title}
      p #{tagline}

mixin inbe(quick)
  - var title = "Inner Breeze"
  - var description = "Find serenity in every breath with Inner Breeze. This app guides you through the Wim Hof Breathing Method with ease."
  - var tagline = "Guided Wim Hof Breathing Meditation"
  - var web_app = "https://inner-breeze.app/"
  - var github = "https://github.com/naoxio/inner_breeze"
  - var f_droid = "https://f-droid.org/packages/io.naox.inbe"
  - var flathub = "https://flathub.org/apps/io.naox.InnerBreeze"
  - var info = "/inbe"
  - var img = "/assets/cards/inner-breeze.png"
  +card(title, description, tagline, img, quick, "solar", info, web_app, github, f_droid, flathub)

mixin evoti(quick)
  - var title = "Evotico"
  - var description = "Streamlining secure, efficient electronic voting for organizations and communities, fostering global empowerment."
  - var tagline = "Collaborative score voting"
  - var web_app = "https://ukuvota.world"
  - var github = "https://github.com/naoxio/evotico"
  - var info = "/evoti"
  - var img = "/assets/cards/evotico.png"
  +card(title, description, tagline, img, quick, "throat", info, web_app, github, "", "")
