mixin card(card_title, card_description, tagline, card_url, card_img, quick, chakra, info)
  - var final_url = info || card_url;
  if (!quick)
    div.card(class="border-card-" + chakra)
      a(href=card_url)
        img(src=card_img, alt=card_title)
        h2 #{card_title}
        p(class="text-color") #{card_description}
  else
    a(href=final_url)
      div(class="border-card-" + chakra)
        h3 #{card_title}
        p #{tagline}

mixin inbe(quick)
  - var title = "Inner Breeze"
  - var description = "Experience the Wim Hof breathing method with Inner Breeze."
  - var tagline = "Guided Wim Hof Breathing Method"
  - var url = "https://inner-breeze.app/"
  - var info = "/inbe"
  - var img = "/assets/cards/inner-breeze.png"
  +card(title, description, tagline, url, img, quick, "solar", info)

mixin gitea(quick)
  - var title = "Git NaoX"
  - var description = "Git NaoX, powered by Gitea, offers a versatile and dependable Git repository management platform for individuals and organizations. With Gitea's user-friendly interface and robust features, users can effortlessly manage version control, facilitate collaborative software development, and streamline project management."
  - var tagline = "Independent Gitea Instance"
  - var url = "https://git.naox.io"
  - var img = "/assets/cards/git-naox.png"
  +card(title, description, tagline, url, img, quick, "throat")


mixin uku(quick)
  - var title = "Ukuvota"
  - var description = "Ukuvota is a collaborative score voting platform where anyone can start a process. Proposals are collected and voted upon using emojis. The final scores highlight the preferred solution."
  - var tagline = "Finding the best solution"
  - var url = "https://ukuvota.world"
  - var info = "/uku"
  - var img = "/assets/cards/ukuvota.png"
  +card(title, description, tagline, url, img, quick, "throat", info)

mixin searXNG(quick)
  - var title = "searXNG"
  - var description = "searXNG is a privacy-respecting, decentralized search engine. It aggregates results from various search engines while not storing user data or queries."
  - var tagline = "Private Search Engine"
  - var url = "https://search.naox.io"
  - var img = "/assets/cards/searxng.png"
  +card(title, description, tagline, url, img, quick, "third-eye")
