mixin card(title, tagline, description, img, url, url_name, subtitle)
  div.card.border.card-small
    img(src=img, alt=title, width="192")
    h2 #{title}
    if subtitle
      h2.small #{subtitle}
    br
    xh3 #{tagline}
    p.text #{description}
    h3.flex
      p Go to
      a(href=url) #{url_name}  

mixin inbe()
  - var title = "Inner Breeze"
  - var tagline = "Guided Wim Hof breathing meditation"
  - var description = "Find serenity in every breath with Inner Breeze. This app guides you through the Wim Hof Breathing Method with ease."

  - var url = "https://inner-breeze.app/"
  - var url_name = "inner-breeze.app"
  - var img = "/assets/cards/inner-breeze.png"
  +card(title, tagline, description, img, url, url_name)
  

mixin uku()
  - var title = "Ukuvota"
  - var tagline = "Collaborative score voting tool"
  - var description = "Quick tool for collaborative score voting to find consensus in a group."

  - var url = "https://ukuvota.world"
  - var url_name = "ukuvota.world"
  - var img = "/assets/cards/ukuvota.png"

  +card(title, tagline, description, img, url, url_name, subtitle)


mixin evoti()
  - var title = "Evotico"
  - var subtitle = "not-ready"
  - var tagline = "Decision making platform"
  - var description = "Manage groups and make decisions collaboratively on a secure and decentralized platform."

  - var url = "https://evoti.co"
  - var url_name = "evoti.co"
  - var img = "/assets/cards/evotico.png"
  +card(title, tagline, description, img, url, url_name, subtitle)


mixin wander()
  - var title = "Wanderlust"
  - var subtitle = "pre-pre-alpha"
  - var tagline = "Your personal adventure map"
  - var description = "Color in a world map of places that you have been to."

  - var url = "https://wanderlust.naox.io/"
  - var url_name = "wanderlust.naox.io"

  - var img = "/assets/cards/wanderlust.png"
  +card(title, tagline, description, img, url, url_name, subtitle)
  
