mixin card(card_title, card_description, tagline, card_url, card_img, quick, chakra, info)
  - var final_url = card_url;
  if (!quick)
    div.card(class="border-card-" + chakra)
      a(href=card_url)
        img(src=card_img, alt=card_title)
        h2 #{card_title}
        p(class="text-color") #{card_description}
  else
    a(href=final_url)
      div(class="border-card-" + chakra)
        img(src=card_img, alt=card_title, width="128")
        h3 #{card_title}
        p #{tagline}

mixin inbe(quick)
  - var title = "Inner Breeze"
  - var description = "Experience the Wim Hof breathing method with Inner Breeze."
  - var tagline = "Guided Wim Hof Breathing Method"
  - var url = "https://inner-breeze.app/"
  - var info = "/inbe"
  - var img = "/assets/cards/inner-breeze.png"
  +card(title, description, tagline, url, img, quick, "solar", info)

mixin uku(quick)
  - var title = "Ukuvota"
  - var description = "Ukuvota is a collaborative score voting platform where anyone can start a process. Proposals are collected and voted upon using emojis. The final scores highlight the preferred solution."
  - var tagline = "Collaborative score voting"
  - var url = "https://ukuvota.world"
  - var info = "/uku"
  - var img = "/assets/cards/ukuvota.png"
  +card(title, description, tagline, url, img, quick, "throat", info)
