mixin card(title, tagline, description, img, url, subtitle)
  div.card
    img(src=img, alt=title, width="192")
    h2 #{title}
    if subtitle
      h2.small #{subtitle}
    br
    xh3 #{tagline}
    p.text #{description}
    a(href=url) Go to #{title}  

mixin inbe()
  - var title = "Inner Breeze"
  - var description = "Find serenity in every breath with Inner Breeze. This app guides you through the Wim Hof Breathing Method with ease."
  - var tagline = "Guided Wim Hof Breathing Meditation"
  - var url = "https://inner-breeze.app/"
  - var img = "/assets/cards/inner-breeze.png"
  +card(title, tagline, description, img, url)
mixin evoti()
  - var title = "Evotico"
  - var subtitle = "(Formerly Ukuvota)"
  - var description = "Streamlining secure, efficient electronic voting for organizations and communities, fostering global empowerment."
  - var tagline = "Collaborative score voting"
  - var url = "https://ukuvota.world"
  - var img = "/assets/cards/evotico.png"
  +card(title, tagline, description, img, url, subtitle)
