mixin card(title, tagline, description, img, url, subtitle)
  div.card
    img(src=img, alt=title, width="192")
    h2 #{title}
    if subtitle
      h2.small #{subtitle}
    br
    xh3 #{tagline}
    p.text #{description}
    a(href=url) Go to #{title}  

mixin inbe()
  - var title = "Inner Breeze"
  - var tagline = "Guided Wim Hof breathing meditation"
  - var description = "Find serenity in every breath with Inner Breeze. This app guides you through the Wim Hof Breathing Method with ease."

  - var url = "https://inner-breeze.app/"
  - var img = "/assets/cards/inner-breeze.png"
  +card(title, tagline, description, img, url)
  
mixin evoti()
  - var title = "Evotico"
  - var subtitle = "wip"
  - var tagline = "Decision making platform"
  - var description = "Manage groups and make decisions collaboratively on a secure and decentralized platform."

  - var url = "https://evoti.co"
  - var img = "/assets/cards/evotico.png"
  +card(title, tagline, description, img, url, subtitle)


mixin uku()
  - var title = "Ukuvota"
  - var tagline = "Collaborative score voting tool"
  - var description = "Quick tool for collaborative score voting to find consensus in a group."

  - var url = "https://ukuvota.world"
  - var img = "/assets/cards/ukuvota.png"

  +card(title, tagline, description, img, url, subtitle)
