mixin card(card_title, card_description, card_description_quick, card_url, card_img, quick, chakra)
  if (!quick)
    div.card(class="border-card-" + chakra)
      a(href=card_url)
        img(src=card_img, alt=card_title)
        h2 #{card_title}
        p(class="text-color") #{card_description}
  else
    a(href=card_url)
      div(class="border-card-" + chakra)
        h3 #{card_title}
        p #{card_description_quick}

mixin inbe(quick)
  - var title = "Inner Breeze"
  - var description = "Experience the Wim Hof breathing method with Inner Breeze."
  - var description_quick = "Guided Wim Hof Breathing Method"
  - var url = "/inbe/#/"
  - var img = "/assets/cards/inner-breeze.png"
  +card(title, description, description_quick, url, img, quick, "solar")

mixin gitea(quick)
  - var title = "Git NaoX"
  - var description = "Independent Gitea Instance"
  - var description_quick = "Independent Gitea Instance"
  - var url = "https://git.naox.io"
  - var img = "/assets/cards/git-naox.png"
  +card(title, description, description_quick, url, img, quick, "throat")
