mixin card(title, subtitle, tagline, description, img, url, bg)
  - var urlName = url.replace(/^https?:\/\//, '')
  div.card.border.card-small(class=bg)
    img(src="/assets/cards/" + img, alt=title, width="192")
    h2 #{title}
    if subtitle
      h2.small #{subtitle}
    br
    h3 #{tagline}
    p.text #{description}
    h3.flex
      p Go to
      a(href=url) #{urlName}

mixin innerBreeze()
  +card(
    "Inner Breeze",
    "",
    "Guided Wim Hof breathing meditation",
    "Find serenity in every breath with Inner Breeze. This app guides you through the Wim Hof Breathing Method with ease.",
    "inner-breeze.png",
    "https://inner-breeze.app/",
    "purple"
  )

mixin ukuvota()
  +card(
    "Ukuvota",
    "",
    "Collaborative score voting tool",
    "Quick tool for collaborative score voting to find consensus in a group.",
    "ukuvota.png",
    "https://ukuvota.world",
    "blue"
  )

mixin evotico()
  +card(
    "Evotico",
    "not-ready",
    "Decision making platform",
    "Manage groups and make decisions collaboratively on a secure and decentralized platform.",
    "evotico.png",
    "https://evoti.co",
    "yellow"
  )

mixin traveltint()
  +card(
    "Traveltint",
    "pre-pre-alpha",
    "Your personal adventure map",
    "Color in a world map of places that you have been to.",
    "traveltint.png",
    "https://traveltint.me",
    "orange"
  )