doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    block variables
      - var title = "NaoX - Embark on a Journey to Experience"
      - var description = "NaoX is dedicated to harmonizing the digital, spiritual, and physical realms."
      - var url = "https://naox.io"
      - var image = "/assets/logo.png"
      - var author = "NaoX"
      - var tags = "NaoX, spiritual, digital, physical, journey, experience, harmony, awakening"

    title= title
    meta(name="description", content=description)
    
    // SEO meta tags
    meta(name="keywords", content=tags)
    meta(name="author", content=author)
    link(rel="canonical", href=url)

    // Open Graph (for Facebook and other platforms)
    meta(property="og:title", content=title)
    meta(property="og:description", content=description)
    meta(property="og:image", content=image)
    meta(property="og:url", content=url)
    meta(property="og:type", content="website")

    // Twitter Card
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:title", content=title)
    meta(name="twitter:description", content=description)
    meta(name="twitter:image", content=image)

    link(rel="stylesheet", href="/assets/styles.scss")
    link(rel="icon", type="image/png", href="/assets/favicon.png")

  body
    block body

    //
      footer#earth-star
        p Evoking tranquility and purpose in every innovation.
